@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
body{
    overflow-x: hidden;
    margin: 0 !important;
}
.navbar{
    height: 10vh !important;
    width: 100vw;
}
.navbar .navbar-brand{
    font-family: 'DM Sans', sans-serif;
    padding-left: 30px;
}
.navbar .navbar-brand img{
    padding-bottom: 6px;
}
.nav-item .nav-link{
    font-family: 'Cabin', sans-serif;
    padding-right: 10px;
}
.nav-item .nav-link:hover{
    color: #FFC4C4;
    transition: all ease-in .2s;
}
.nav-item .nav-link p{
    color: #850E35;
    background-color: white;
}
.top_page{
    padding-top: 50vh;
    background: url("img/top.jpg");
    height: 110vh;
    width: 100vw;
    color: white;
    padding: 2rem;
}
.top_text{
    padding: 30vh;
}
.top_page p{
    font-size: 40px;
}
.top_page h2{
    font-size: 64px;
    padding-bottom: 100px;
}
.judul_top{
    font-size: 50px;
}
.top_page i{
    font-size: 40px;
}
.story .photo{
    overflow: hidden;
}
.container-fluid .story .desc{
    background-color: rgb(36, 35, 35);
    color: white;
}

.best h2{
    height: 130px;
}
.card{
    border: 1px solid white;
    cursor: pointer;
}
.card img{
    height: 180px;
}
.card-body{
    font-family: 'Nunito', sans-serif;
    padding-left: 5px !important;
}
.nama-makanan{
    font-size: 20px;
    font-weight: 700;
}
.harga-awal{
    text-decoration: line-through;
    color: grey;
    font-size: 12px;
}
.desc-makanan{
    color: grey;
    font-size: 14px;
}
.harga-diskon{
    color : #f38621;
    font-size: 12px;
    border-radius: 2px;
    margin-right: 2px;
    padding: 3px;
    box-sizing: border-box;
    background-color: rgba(243,134,33,.3);
}
.direct_menu{
    width: 100px;
    height: 25px;
    font-size: 10px;
    line-height: 10px;
    color: white;
}
.card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.best{
    background-color: #f7f7f7;
}
.founders .position{
    color: grey;
    font-size: 14px;
}
.founders .card img{
    height: 300px;
}
.final_section{
    background-color: rgb(36, 35, 35);
    color: white;
}
.col .col-7 img{
    overflow: hidden;
}